@import "normalize";

@import "_settings";

@import
	"foundation/components/accordion",
	"foundation/components/block-grid",
	"foundation/components/buttons",
	"foundation/components/button-groups",
	"foundation/components/clearing",
	"foundation/components/grid",
	"foundation/components/inline-lists",
	"foundation/components/orbit",
	"foundation/components/reveal",
	"foundation/components/split-buttons",
	"foundation/components/top-bar",
	"foundation/components/visibility",
	"foundation/components/type";

//@import "foundation";






@mixin card($margin: false, $border: true, $border-transp:false) {
	@if $margin { margin: 1rem 0rem; }
	@if $border {
		border-top: 1px solid $bordergrey;
		border-right: 1px solid $bordergrey;
		border-left: 1px solid $bordergrey;
	}

	@if $border-transp {
		border-top: 1px solid $bordergrey-t;
		border-right: 1px solid $bordergrey-t;
		border-left: 1px solid $bordergrey-t;
	}

	border-radius: 3px;
    background: white;
	overflow: hidden;
	@extend .shadow;
}

@mixin round($size: 8rem) {
	width: $size;
	height: $size;

	border: 2px solid $bordergrey-t;
	border-radius: ($size / 2) !important;
}


body {
	//padding-bottom: 3rem;
	a {
		text-decoration: none !important;
		//color: $niceblue;
	}
}




.welcome-banner {
	display:block;
	overflow:auto;
	width: 100%;
    min-height: 10rem;
	text-align: center;

	padding-bottom: 1.25rem;
    margin-bottom: 0.95rem;

	background-color: $niceblue;
	/*background-image: url('../img/squash-guy.jpg');
	background-size:cover;
    background-position: center top;*/

	.welcome-text {
		display:block;
		font-size: 3rem;
		font-weight:300;
		text-shadow: 0 7px 70px rgba(0,0,0,1);
		color: white;
		margin: 3rem 0 3.7rem 0;
	}
}




.helper-button-wrap {

	$link-color: white;

	a:link, a:visited {
		color: $link-color;
	}
	a:hover {
		color: darken($link-color, 5%);
	}
	a:active {
		color: darken($link-color, 12%);
	}

	.helper-button{

		padding-top:1.21rem;
		padding-bottom: 0.6rem;

		white-space:nowrap;
		text-align: center;
		text-decoration: none;

		border: 1px solid white;
		border-radius: 5px;

		@media #{$small-only} {
			margin: 0.5rem;
		}
	}

	i {
		font-size: 2.6rem;
	}
	helper-label {
		font-weight: 300;
		font-size: 1.25rem;
		@media #{$medium-only} {
			font-size: 1.08rem;
		}
		@media #{$small-only} {
			font-size: 1rem;
		}
	}

}




.article-card-wrap {

	.article-card {

		@include card();

		img {
			display:block;
			object-fit:cover;
			object-position:center;

			width:100%;
			max-height:9rem;
			border-bottom: 1px solid $bordergrey-t;
		}

		article-title {
			display: block;
			font-size: 1.3rem;
			margin:0.5rem 1rem;
		}
	}
}





.location-card {

	@include card($border-transp:true);
	height:9rem;
	background-color: $niceblue;

	.location-name {

		display: block;
		text-align:center;
		margin-top: 2rem;
		font-size: 3rem;
		font-weight: 300;
		color: white !important;
	}

}


.location-accordion {

	@include accordion-container;
	margin-left: 0 !important;

	.location-accordion-navigation{

		@include accordion-navigation( $bg: none, $hover-bg: none, $active-bg: white,
			$padding: 0rem, $active_class: 'active', $font-size: 10rem !important);
		margin: 1rem 0;

		.content {
			@include accordion-content($bg: white, $padding: 1rem, $active_class: 'active');
			@include card;
			p {
				font-size:1.25rem;
			}
		}
	}
}




/*@media (#{$small}) or (#{$medium}) {
	$profile-size: 6rem;
}
@media #{$large-up} {
	$profile-size: 8rem;
}*/



.profile-card {

	@include card;

	//max-width:30rem !important;
	height:100%;
	padding: 1.4rem;
	color:black;


	img {

		display:inline-block;
		vertical-align: top;
		background: none !important;
		object-fit:cover;
		object-position:center;


		@media #{$medium-up} {
			@include round($size: 8rem);
		}
		@media #{$small-only} {
			@include round($size: 6rem);
		}

	}

	.profile-info {
		display: inline-block;
		vertical-align:middle;

		//margin-top:0.6rem;
		font-size: 2.3rem;
		font-weight: 300;

		a {
		//margin-top:-0.5rem !important;
		display:block;
		font-weight:300;
		font-size:1.6rem;
		//border-bottom: 2px solid $niceblue;
		}
	}

	p {
		margin-bottom:0 !important;
	}

}


.price-table {
	@include card;

	postion: relative;
	border-collapse: collapse;
	width:100%;

	thead {
		font-weight: 300;
		td {
			padding-left: 1rem !important;
			padding-right: 1rem !important;
		}
	}

	col {
		border: 1px solid $bordergrey-t5;
	}
	//use nth-child to make thicken border between Pon-Pt. And Weekend

	tr.hours {
		font-weight: 300;
		border-bottom: 1px solid $bordergrey-t12;
		td {
			padding:0.15rem 0.5rem !important;
			background-color: $lightgrey;
			border-left: 1px solid $bordergrey-t5;
		}
	}

	td {
		font-size: 1.3rem;
		text-align:center !important;
		padding: 0.5rem;
	}

	tr.description {
		td {
			padding: 0.4rem 0.8rem 0.1rem 0.8rem;
			font-size: 0.9rem;
			text-align: left !important;
			//background-color:rgba(0, 0, 0, 0.03);
		}
	}

}

.footer {
	width:100%;
	margin-top: 6rem;
	padding: 0.5rem;

	font-weight: 300;
	background-color: #a2a2a2;
	color: #eaeaea;

	a {
		float: right;
		text-decoration: underline !important;

		&:link, &:visited {
		color: white;
		}
		&:hover {
			color: darken(white, 5%);
		}
		&:active {
			color: darken(white, 12%);
		}
	}

}


h0 {
	display:block;
	font-size: rem-calc(44);
	font-weight: 300;
	margin: 2rem 0 1.5rem 0;
}

ho {
	font-size: 0.9rem !important;
	font-weight:500;

	@media #{$medium-up} {
		&:after{
			vertical-align: super;
			font-size:60%;
			border-bottom: 1px solid rgba(0,0,0,0.25);
			margin: 0px 1px;
			content:"00";
		}
	}
}

.shadow {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.23);
}

.center {
	float:none;
	margin-left:auto;
	margin-right:auto;
}



//center menu:
@media #{$medium-up} {
	nav.top-bar {
		text-align:center;
	}
	section.top-bar-section {
		display: inline-block;
	}
}




// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
