@import "_settings";
@import "foundation";






@mixin card($margin: false, $border: true) {
	@if $margin { margin: 1rem 0rem; }
	@if $border { border: 1px solid rgba(0,0,0,0.18); }

	border-radius: 5px;
    background: white;
	overflow: hidden;
	@extend .shadow;
}




body {
	a {
		text-decoration: none !important;
		//color: $niceblue;
	}
}





logo {
	font-size:2.5em;
	line-height:1em;
	display:none;
}
.welcome-banner {
	display:block;
	width: 100%;
    min-height: 10rem;
	text-align: center;

	padding-top:1rem;
	padding-bottom:0.85rem;
    margin-bottom: 0.85rem;
	
	background-color: $niceblue;
	background-image: url('../img/squash-guy.jpg');
	background-size:cover;
    background-position: center top;
	
	.welcome-text {
		display:block;
		font-size: 3rem;
		font-weight:300;
		text-shadow: 0 7px 70px rgba(0,0,0,1);
		color: white;
		margin: 3rem 0;
	}
}




.helper-button-wrap {
	
	a:link, a:visited {
		color: $niceblue;
	}
	a:hover {
		color: darken($niceblue, 7%);
	}
	a:active {
		color: darken($niceblue, 15%);
	}
	
	.helper-button{
		@include card;

		padding-top:1.5rem;
		padding-bottom: 0.6rem;
		margin-top: 1rem;

		white-space:nowrap;
		text-align: center;
		text-decoration: none;
	}
	
	i { 
		font-size: 3rem;
	}
	helper-label {
		font-size: 1.25rem;
	}

}




.article-card-wrap {
	
	.article-card {

		@include card;
		
		img {
			display:block;
			object-fit:cover;
			object-position:center;
			
			width:100%;
			max-height:9rem;
		}

		article-title {
			display: block;
			font-size: 1.3rem;
			margin:0.5rem 1rem;
		}
	}
}





.location-card {

	@include card;
	height:9rem;

	.location-name {

		display: block;
		font-size: 3rem;
		font-weight: 300;
		color: white !important;
		text-align:center;
		margin-top: 2rem;
	}

}
.location-card.ochota {
	background-image: url(../img/placeholders/blue-city-bg.jpg);
}

.location-card.targowek {
	background-image: url(../img/placeholders/targowek-bg.jpg);
}



.location-accordion {

	@include accordion-container;
	margin-left: 0 !important;

	.location-accordion-navigation{

		@include accordion-navigation( $bg: none, $hover-bg: none, $active-bg: white,
			$padding: 0rem, $active_class: 'active', $font-size: 10rem !important);
		margin: 1rem 0;

		.content {
			@include accordion-content($bg: white, $padding: 1rem, $active_class: 'active');
			@include card;
			p {
				font-size:1.25rem;
			}
		}
	}
}




/*@media (#{$small}) or (#{$medium}) {
	$profile-size: 6rem;
}
@media #{$large-up} { 
	$profile-size: 8rem;
}*/

.profile-card-mini {
	
	$profile-size: 6rem;
	width: $profile-size;
	
	.profile-photo {
		@include card;
		background: none !important;
		width: $profile-size;
		height: $profile-size;
		border-radius: ($profile-size / 2) !important;
		margin-bottom: 0.8rem !important;
	}
	
	.profile-label {
		text-align: center;
	}
	
}

.profile-card {

	@include card;

	max-width:40rem !important;
	padding: 2rem;
	color:black;

	.name {
		//margin-top:0.5rem;
		font-size: 2.3rem;
		font-weight: 300;
	}

	a {
		//margin-top:-0.5rem !important;
		font-weight:300;
		font-size:1.6rem;
		//border-bottom: 2px solid $niceblue;
	}
	p {
		margin-bottom:0 !important;
	}

}




.shadow {
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.37);
}

.center {
	float:none;
	margin-left:auto;
	margin-right:auto;
}



//center menu:
@media #{$medium-up} { 
	nav.top-bar {
		text-align:center;
	}
	section.top-bar-section {
		display: inline-block;
	}
}
	

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
