/*

Styles for Trenerzy (trenerzy.php)

*/

.profile-card {

	@include card;

	//max-width:30rem !important;
	height:100%;
	padding: 1rem;
	color:black;


	img {
		display:inline-block;
		vertical-align: top;
		background: none !important;
		object-fit:cover;
		object-position:center;
        
        margin-top: -0.25rem;
        margin-left: -0.25rem;
		

		@media #{$small-only} {
            margin-right:0.2rem;
            margin-bottom:0.7rem;
			@include round($size: 6rem);
		}
		@media #{$medium-up} {
            margin-right:0.5rem;
            margin-bottom:0.8rem;
			@include round($size: 8rem);
		}
	}

	.profile-info {
		display: inline-block;
		vertical-align: middle;
        margin-top: 0.5rem;
        
		font-size: 1.5rem;
		@media #{$small-only} { font-size: 1.3rem; }

		font-weight: 300;


		a {
			//margin-top:-0.5rem !important;
			display:block;
			font-weight:300;

			font-size:1.4rem;
			@media #{$small-only} { font-size: 1.1rem; }
		}
	}

	p {
		margin-bottom:0 !important;
	}

}
