/*

Additional utility styles used in various places

*/


.tabs.with-border{
    
    $tab-border-color: rgba(black, 0.2);
    
    li:first-child{
        border-left: none;
    }
    li{
        border-left: 1px solid $tab-border-color;
    }
    
    
    li.active {
        border-top:1px solid $tab-border-color;
        border-left:1px solid $tab-border-color !important;
        border-right:1px solid $tab-border-color;
    }
}

//used for section titles
h0 {
	display:block;
	font-size: rem-calc(44);
	font-weight: 300;
	margin: 2rem 0 1.5rem 0;
}



.shadow {
    box-shadow: 0 2px 1px 0 rgba(black, 0.23);
}

.high-shadow {
    box-shadow: 0 4px 10px 0 rgba(black, 0.26);
}


.center {
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.no-bg {
    background-color: rgba(black, 0) !important;
    
    div { background-color: rgba(black, 0) !important; }
    
    section { background-color: rgba(black, 0) !important; }
    
    ul { background-color: rgba(black, 0) !important; }
    
    li { background-color: rgba(black, 0) !important; }
        
}

.top-bar-no-bg {
    @extend .no-bg;
        
    ul li:not(.active) { background-color: rgba(black, 0) !important; }
    
    li:not(.active) { background-color: rgba(black, 0) !important; }
    
    li:not(.active) a { background-color: rgba(black, 0) !important; }
    
    
}
